#top-banner {
	margin: 10px auto 0;
	width: 300px;
	text-align: center;
}

#logo {
	display: block;
	margin: 0 auto;
	width: 220px;
}

#tag-line {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 145%;
	font-style: italic;
}
.quiz-container {
	width: 350px;
	height: 470px;
	margin: 50px auto 0;
	/*border: 1px solid black; */
}

.number-container {
	width: 40px;
	height: 40px;
	background-color: black;
	border-radius: 50%;
	margin-top: -10px;
	margin-left: -25px;
	text-align: center;
	position: absolute;
}

.number-container > p {
	color: white;
	font-family: broadway, 'Roboto Slab', serif;
	font-size: 22px;
	text-align: center;
	padding-top: 10px;
}

.question-container {
	min-height: 145px;
	background-color: #FFFF66;
}

.question-container > p {
	padding: 20px 25px 15px 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.5;
}
.answer-container {
	min-height: 280px;
	background-color: #D1D1CB;
}
.answer-container > ul {
	padding: 25px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
}

.list-indent {
	margin-left: 21px;
}
.submit-button {
	width: 85px;
	height: 85px;
	background-color: black;
	border-radius: 50%;
	margin: -42px auto;
}

.submit-button > a {
	color: white;
	font-family: broadway, Roboto Slab, serif;
	font-size: 19px;
	text-align: center;
	padding-top: 33px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	height: 52px;
	width: 85px;
	border-radius: 50%;
}

.submit-button > a:hover, .submit-button > a:focus {
	color: #FFFF66;
}

.submit-button > a:focus {
	outline: none;
}

.final-score {
	width: 300px;
	height: 300px;
	background-color: black;
	color: white;
	border-radius: 50%;
	border-color: #FFFF66;
	margin: 65px auto;
	text-align: center;
	display: none;
}

#total-score {
	padding-top: 55px;
	font-family: broadway, 'open sans', sans-serif;
	font-size: 70px;
	font-weight: bold;
}

#punchline {
	margin-top: 20px;
	font-family: 'open sans', sans-serif;
	font-size: 20px;
	color: #D1D1CB;
}

#nickname {
	font-family: 'roboto slab', serif;
	font-size: 40px;
	margin-top: 4px;
	font-weight: bold;
}

.final-score button {
	margin-top: 28px;
	font-family: 'open sans';
	font-size: 16px;
	font-weight: bold;
	background-color: #D1D1CB;
	border: none; 
	height: 1.7em;
}

.final-score button:hover {
	background-color: #FFFF66;
	cursor: pointer;
}

.selected {
	font-weight: bold;
}

@media only screen and (max-width: 400px) {
	.quiz-container {
		width: 90%;
	}
	.number-container {
		margin-left: -16px;
	}
}